/* styles.css */

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* Header styles */
header {
    background-image: url('https://natureconservancy-h.assetsadobe.com/is/image/content/dam/tnc/nature/en/photos/Zugpsitze_mountain.jpg?crop=0%2C176%2C3008%2C1654&wid=2000&hei=1100&scl=1.504');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Section styles */
section {
    background-color: #007bff;
    color: #fff;
    padding: 70px; /* Increased padding */
    text-align: center;
}

/* Heading styles */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Paragraph styles */
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Call-to-action button styles */
.cta-button {
    background-color: #17a2b8;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #138496;
}

/* Footer styles */
footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Image container styles */
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* Image box styles */
.image-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Image styles */
img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}
